@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Change</h1>
</div>

<body>
    <div>

        <label>Name: </label> <input name='name' /><br />

        <label>Surname: </label> <input name='surname' /><br />

        <label>Phone: </label> <input name='phone' /><br />

        <label>CompanyId: </label> <input type="number" name='companyId' /><br />

        <label>Phone: </label> <input name='phone' /><br />

        <label>DepartmentName: </label> <input name='departmentName' /><br />

        <label>PassportNumber: </label> <input type="number" name='passportNumber' /><br />

    </div>
</body>