@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Delete</h1>
</div>

<body>
    <div>
        <label>Id Employee: </label> <input type="number" name='id' /><br />
    </div>
</body>

