@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Delete</h1>
</div>

<body>
    <div>
        <form action="Delete" method="post" name="model">
            <label>Id Employee: </label> <input type="number" name='id' required /><br />
            <input type='submit' value='Send' /><br />
        </form>
        
    </div>
</body>

