@Model TestProject.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello SmartWay!</h1>
    <p>Is my testing task)</p>
</div>


<form method="post">
        <div>
            <label>IdCompany</label>
            <input type="number" name="idCompany" />
        </div>
    </form>
<form mewtod="post">
        <div>
            <label>DepartmentName</label>
            <input name="departmentName" />
        </div>
    </form>