<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Главная страница</title>
</head>

<div class="text-center">
    <h1 class="display-4">Hello SmartWay!</h1>
    <p>Is my testing task)</p>
</div>
</html>
