@Model TestProject.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello SmartWay!</h1>
    <p>Is my testing task)</p>
</div>

@if (Model == null)
{
    <form method="post">
        <div>
            <label>IdCompany</label>
            <input type="number" name="idCompany" />
        </div>
    </form>
} else
{
    <div>
        @Model.Id
    </div>
}
