@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Receive</h1>
</div>

<body>
    <div>
        <label>Id Company: </label> <input type="number" name='id' /><br />
        <label>Department Name: </label> <input type="number" name='id' /><br />
    </div>
</body>
