@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Receive</h1>
</div>

<body>
    <div>
        <form action="Receive/idCompany" method="post">
            <label>Id Company: </label> <input type="number" name='idCompany' /><br />
            <input type='submit' value='Send' /><br />
        </form>
        
        <form action="Receive/departmentName" method="post">
            <label>Department Name: </label> <input name='departmentName' /><br />
            <input type='submit' value='Send' /><br />
        </form>
        
        
        
    </div>
</body>
